$colour-basement: #000207;
$colour-fold: #0F121F;
$colour-floor: #1D2438;
$colour-floor05: rgba($colour-floor, .5);

$colour-blanket: #ADC8FA;
$colour-paste: #DCE4F7;
$colour-deepblue: #1F3A83;
$colour-mariana: #1E2D59;

$colour-steam: #626F94;

$colour-orange: #FF7048;

$colour-win: #9CEB6E;

$colour-white: #fff;
