:root {
  --Gutter: 12px; // this needs to refer to font size in rem eventually (12 / fontsize at largest)
  --Baseline: var(--Gutter);

  --ViewportWidth: 100vw;
  --WindowWidth: var(--ViewportWidth);
  --ContainerWidth: calc(var(--WindowWidth) - (var(--Gutter) * 2));

  @include iota-breakpoint(fromwindowgap) {
    --WindowWidth: calc(var(--ViewportWidth) - (var(--Gutter) * 2));
  }

  @include iota-breakpoint(frommax) {
    --ViewportWidth: 465px;
  }
}
