/**
 * Number Utilities
 * - optional: Ranges of Numbers
 * - optional: Steps within ranges.

 * Classes
 * - z-index
 * - opacity
 * - order
 * - flex-grow
 * - flex-shrink
 * - font-weight
 */

$numberUtilitiesSettings: (
  ( property: 'flex-grow',
    propertyClass: 'grow-',

    values: (
      (
        value: 0,
      ),
      (
        value: 1,
      ),
    ),
  ),
  ( property: 'flex-shrink',
    propertyClass: 'shrink-',

    values: (
      (
        value: 0,
      ),
      (
        value: 1,
      ),
    ),
  ),
  ( property: 'flex-basis',
    propertyClass: 'basis-',

    values: (
      (
        value: 0,
      ),
      (
        value: 1,
      ),
    ),
  ),
  ( property: 'opacity',
    propertyClass: 'opac-',

    values: (
      (
        value: 0.5,
        valueClass: '05',
      ),
      (
        value: 1,
        pseudo: ('hover', 'focus'),
      ),
    ),
  ),
  ( property: 'order',
    propertyClass: 'order-',

    values: (
      (
        value: 1,
      ),
      (
        value: 2,
      ),
      (
        value: 3,
      ),
    ),
  ),
  ( property: 'font-weight',
    propertyClass: 'weight-',

    values: (
      (
        value: bold,
      ),
    ),
  ),

  (
    property: 'border-radius',
    propertyClass: 'borrad-',

    values: (
      (
        value: '3px',
        valueClass: '3',
      ),
      (
        value: '3px 3px 0 0',
        valueClass: '3300',
      ),
    ),
  ),
);
