// position, visibility, overflow, display
// flex-direction, align-content, align-items, align-self, justify-content,
// appearance, float,
// backgound-color, background-position, background-attachment, background-repeat, background-size, background-blend-mode,
// font-family, font-weight [bold/light...]
// color,
// box-shadow,
// list-style*, text-align, text-decoration, text-overflow, text-transform, white-space,
// will-change, cursor, pointer-events

$wordUtilitiesSettings: (
  (
    property: 'overflow',
    propertyClass: 'ov-',

    values: (
      (
        value: 'hidden',
      ),
    ),
  ),
  (
    property: 'overflow-x',
    propertyClass: 'ovx-',

    values: (
      (
        value: 'auto',
      ),
    ),
  ),
  (
    property: 'position',
    propertyClass: 'pos-',

    values: (
      (
        value: 'absolute',
      ),
      (
        value: 'relative',
      ),
    ),
  ),
  (
    property: 'display',
    propertyClass: '',

    values: (
      (
        value: 'flex',
      ),
      (
        value: 'block',
      ),
    ),
  ),
  (
    property: 'flex-direction',
    propertyClass: 'fd-',

    values: (
      (
        value: 'column',
        valueClass: 'col',
      ),
    ),
  ),
  (
    property: 'justify-content',
    propertyClass: 'jc-',

    values: (
      (
        value: 'space-between',
        valueClass: 'between',
      ),
      (
        value: 'space-around',
        valueClass: 'around',
      ),
    ),
  ),
  (
    property: 'align-items',
    propertyClass: 'ai-',

    values: (
      (
        value: 'center',
      ),
    ),
  ),
  (
    property: 'background-color',
    propertyClass: 'bgcolor-',

    values: (
      (
        value: $colour-basement,
        valueClass: 'basement',
      ),
      (
        value: $colour-fold,
        valueClass: 'fold',
      ),
      (
        value: $colour-floor,
        valueClass: 'floor',
      ),
      (
        value: $colour-floor05,
        valueClass: 'floor05',

        pseudo: ('hover', 'focus'),
      ),
      (
        value: $colour-deepblue,
        valueClass: 'deepblue',
      ),
      (
        value: $colour-mariana,
        valueClass: 'mariana',
      ),
    ),
  ),
  (
    property: 'background-size',
    propertyClass: '',

    values: (
      (
        value: 'cover',
      ),
    ),
  ),
  (
    property: 'color',
    propertyClass: 'color-',

    values: (
      (
        value: $colour-blanket,
        valueClass: 'blanket',
      ),
      (
        value: $colour-white,
        valueClass: 'white',
        pseudo: ('hover', 'focus'),
      ),
      (
        value: $colour-paste,
        valueClass: 'paste',
      ),
      (
        value: $colour-steam,
        valueClass: 'steam',
      ),
      (
        value: $colour-win,
        valueClass: 'win',
      ),
      (
        value: $colour-orange,
        valueClass: 'orange',
      ),
    ),
  ),
  (
    property: 'font-family',
    propertyClass: 'font-',

    values: (
      (
        value: 'europa, Europa, Helvetica',
        valueClass: 'europa',
      ),
    ),
  ),
  (
    property: 'text-align',
    propertyClass: 'align-',

    values: (
      (
        value: 'left',
      ),
      (
        value: 'center',
      ),
      (
        value: 'right',
      ),
    ),
  ),
  (
    property: 'text-transform',
    propertyClass: '',

    values: (
      (
        value: 'uppercase',
      ),
    ),
  ),
  (
    property: 'white-space',
    propertyClass: 'ws-',

    values: (
      (
        value: nowrap,
        valueClass: no,
      ),
    ),
  ),
);
