::-webkit-input-placeholder {
  color: $colour-steam;
}

::-moz-placeholder {
  color: $colour-steam;
}

:-ms-input-placeholder {
  color: $colour-steam;
}

:-moz-placeholder {
  color: $colour-steam;
}

[disabled] {
  cursor: default;
}

input,
select,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  transition: all .4s;

  &:focus {
    outline: none;
  }
}

input,
textarea {
  color: $colour-paste;
  border-bottom: 3px solid rgba($colour-paste, .2);

  // &:not(:placeholder-shown),
  &:focus {
    border-bottom-color: $colour-paste;
  }

  &:invalid {
    background-color: rgba($colour-hotmelon, .2);
    border-bottom-color: $colour-hotmelon;
    color: $colour-hotmelon;
  }
}

label {
  @extend .u-pos-absolute;
  @extend .u-top-0;
  @extend .u-left-0;
  @extend .u-weight-bold;
  @extend .u-ws-no;
  color: #616F94;
}

textarea {
  @extend .u-ph-1bl;
  @extend .u-pv-1bl;
  max-width: 100%;

  &:not(:focus) {
    @extend .u-bgcolor-fold05;
  }

  &:focus {
    @extend .u-bgcolor-fold;
  }
}

select {
  // too generic
  width: 100%;
  max-width: 160px;

  &[disabled] {
    color: inherit;
  }
}

[type="text"],
[type="email"],
[type="password"] {
  @extend .u-block;
  @extend .u-width-100pc;
  @extend .u-size-h4;
  @extend .u-weight-bold;
  padding: var(--Baseline);

  ~ label {
    transform: translateY(-70%);
  }

  &:focus {

    ~ label {
      color: $colour-white;
      transform: translateY(-120%);
    }
  }

  &:not(:placeholder-shown) {
    ~ label {
      // opacity: .5;
    }
  }
}
