/**
 * .c-loading
 */

$component: 'loading';
$max: 6;
$deg: 60deg;

#{'.' + $iota-global-components-namespace + $component} {
  animation: loadingRotateSteps calc(var(--cycleTime) * 4) infinite ease-in-out;
  animation-delay: 0s;

  &__hexagon {
    clip-path: polygon(25% 0%, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate($deg / 2);
    width: var(--loadingWidth);
    height: calc(var(--loadingWidth) * .85);
  }

  &__line {
    @extend .o-absfill;

    &:before {
      @extend %no-content;
      @extend .u-pos-absolute;
      @extend .u-top-0;
      left: calc(25% - (var(--lineWidth) / 2));
      width: calc(50% + var(--lineWidth));
      height: var(--lineWidth);
      background-color: var(--lineColour);
      transform: scaleX(0);
      transform-origin: 0 0;
      animation: loadingLineGrow calc(var(--cycleTime) * 3) infinite;
      will-change: transform;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transform: rotate(($i - 1) * $deg);

        &:before {
          animation-delay: calc((var(--cycleTime) / 2) * #{$i - 1});
        }
      }
    }

    $lineColours: (
      $colour-orange,
      $colour-scout,
      $colour-warrior,
      $colour-god,
      $colour-fighter,
      $colour-ninja,
    );

    @each $colour in $lineColours {

      $i: index($lineColours, $colour);

      &:nth-child(#{$i}) {
        --lineColour: $colour;
      }
    }
  }
}

@keyframes loadingRotateSteps {

  @for $i from 1 through $max {

    $percentageStart: percentage(1 / 12 * ($i * 2 - 2));
    $percentageEnd: percentage(1 / 12 * ($i * 2 - 1));

    #{$percentageStart},
    #{$percentageEnd} {
      transform: rotate(($i - 1) * $deg);
    }
  }

  100% {
    transform: rotate($max * $deg);
  }
}

@keyframes loadingLineGrow {
  0% {
    transform: scaleX(0);
  }

  0%,
  50% {
    transform-origin: 0 0;
  }

  50% {
    transform: scaleX(1);
  }

  50.1%,
  100% {
    transform-origin: 100% 0;
  }

  100% {
    transform: scaleX(0);
  }
}
